*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}


.bordeRojo{
    border: 2px solid red;
}

body{
    background-image: url("../imgs/back4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.glass{
    background-color: rgba(226, 226, 226, 0.499);
    border-radius: 16px;                   /* bordes redondeados */
    backdrop-filter: blur(10px);           /* desenfoque del fondo */
    -webkit-backdrop-filter: blur(10px);
}

/*sacar cosas*/
.sinItem{
    list-style: none;
}
.sinBorde{
    border: none;
}

/*fondos*/
.fondoTransparente{
    background-color: #ffffff00;
}

/*colores*/
.blanco{
    color: white;
}
.negro{
    color: black;
}
.fondoRojo{
    background-color: #FA7459;
}
.fondoAzul{
    background-color: #58B5C2;
}
.fondoGris{
    background-color: rgb(180, 179, 179);
}

/*bordes*/
.bordeRedondo{
    border-radius: 25px;
}

/*texto*/
@font-face {
  font-family: 'creatoDisplay'; /* Nombre que le darás a la fuente */
  src: url('../creato-display/CreatoDisplay-Regular.otf'); /* Ruta y formato del archivo */
}
h1,h2,h3,h4,p,button,span,input{
    font-family: "creatoDisplay", 'openSans';
}
.textCenter{
    text-align: center;
}

/*acomodar*/
.df{
    display: flex;
}
.columna{
    flex-direction: column;
}
.centerX{
    justify-content: center;
}
.centerY{
    align-items: center;
}
.spaceb{
    justify-content: space-between;
}
.spacea{
    justify-content: space-around;
}
.spacee{
    justify-content: space-evenly;
}
.wrap{
    flex-wrap: wrap;
}
.objCover{
    object-fit: cover;
}
.fitContent{
    width: fit-content;
}
.posAb{
    position: absolute;
}
.posRel{
    position: relative;
}

.w100{
    width: 100%;
}

/*visibilidad*/
.invisible{
    display: none;
}
.visible{
    display: block;
}

/* el clon que muestra dónde se soltará */
.sortable-ghost {
    background: #e0f7fa !important;
    border: 2px dashed #00bcd4 !important;
    opacity: 0.9 !important;
}

/* el item agarrado */
.sortable-chosen {
    opacity: 0.5;
}

@media screen and (max-height: 500px){
    body{
        background-image: url("../imgs/fondo-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
