*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

:root {
    --borde-rojo: 3px solid red;
}


.bordeRojo{
    border: var(--borde-rojo)
}
.bordeVerde{
    border: 3px solid greenyellow;
}

body{
    background-image: url("../imgs/back4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.glass{
    background-color: rgba(226, 226, 226, 0.499);
    border-radius: 16px;                   /* bordes redondeados */
    backdrop-filter: blur(10px);           /* desenfoque del fondo */
    -webkit-backdrop-filter: blur(10px);
}

/*sacar cosas*/
.sinItem{
    list-style: none;
}
.sinBorde{
    border: none;
}

/*fondos*/
.fondoBlanco{
    background-color: white;
}
.fondoNegro{
    background-color: black;
}
.fondoTransparente{
    background-color: #ffffff00;
}

/*colores*/
.blanco{
    color: white;
}
.negro{
    color: black;
}
.fondoRojo{
    background-color: #FA7459;
}
.fondoAzul{
    background-color: #58B5C2;
}
.fondoGris{
    background-color: rgb(180, 179, 179);
}

/*bordes*/
.bordeRedondo{
    border-radius: 25px;
}

/*texto*/
@font-face {
  font-family: 'creatoDisplay'; /* Nombre que le darás a la fuente */
  src: url('../creato-display/CreatoDisplay-Regular.otf'); /* Ruta y formato del archivo */
}
h1,h2,h3,h4,p,button,span,input{
    font-family: "creatoDisplay", 'openSans';
}
.textCenter{
    text-align: center;
}

/*botones*/
.ajusteBoton{
    padding: 7px 7px;
    border-radius: 5px;
}

/*iconos*/
i{
    font-size: 16px;
}

/*acomodar*/
.df{
    display: flex;
}
.columna{
    flex-direction: column;
}
.centerX{
    justify-content: center;
}
.centerY{
    align-items: center;
}
.spaceb{
    justify-content: space-between;
}
.spacea{
    justify-content: space-around;
}
.spacee{
    justify-content: space-evenly;
}
.wrap{
    flex-wrap: wrap;
}
.objCover{
    object-fit: cover;
}
.fitContent{
    width: fit-content;
}
.posAb{
    position: absolute;
}
.posRel{
    position: relative;
}

/*alturas*/
.h100{
    height: 100%;
}
.h90{
    height: 90%;
}
.h50{
    height: 50%;
}

.vh100{
    min-height: 100vh;
}
.vh90{
    min-height: 90vh;
}
.vh85{
    height: 85vh;
}
.vh60{
    height: 60vh;
}
.vh50{
    height: 50vh;
}
.vh40{
    height: 40vh;
}
.vh30{
    height: 30vh;
}
.vh25{
    height: 25vh;
}
.vh20{
    height: 20vh;
}
.vh10{
    height: 10vh;
}

/*anchos*/
.w100{
    width: 100%;
}
.w90{
    width: 90%;
}
.w80{
    width: 80%;
}
.w70{
    width: 70%;
}
.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w45{
    width: 45%;
}
.w40{
    width: 40%;
}
.w30{
    width: 30%;
}
.w20{
    width: 20%;
}
.w10{
    width: 10%;
}

/*visibilidad*/
.invisible{
    display: none;
}
.visible{
    display: block;
}

@media (max-width: 960px){

        .visibleT{
            display: block;
        }
        .invisibleT{
            display: none;
        }

}

@media (max-width: 480px){
    #nav{
        width: 50%;
    }

    .w100m{
        width: 100%;
    }
    .w90m{
        width: 90%;
    }
    .w80m{
        width: 80%;
    }
    .w70m{
        width: 70%;
    }

    .vh100m{
        min-height: 100vh;
    }
    .vh80m{
        min-height: 80vh;
    }
    .vh70m{
        min-height: 70vh;
    }
    .vh60m{
        height: 60vh;
    }
    .vh30m{
        height: 30vh;
    }

    .dfm{
        display: flex;
    }
    .columnaM{
        flex-direction: column;
    }
    .spaceaM{
        justify-content: space-around;
    }
    .spacebM{
        justify-content: space-between;
    }

}
